<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h1>Registeration page</h1>
        <form method="post">
            {%csrf_token%}
            name=<input type="text" name="name" id="name"><br>
            email=<input type="text" name="email" id="email"><br>
            email=<input type="text" name="pno" id="pno"><br>
            email=<input type="text" name="un" id="un"><br>
            email=<input type="text" name="pw" id="pw"><br>
            <input type="submit">
        </form>
    </center>
</body>
</html>